<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/hibernate</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">true</property>
        <mapping class="ru.job4j.car.models.User"/>
        <mapping class="ru.job4j.car.models.Role"/>
        <mapping class="ru.job4j.car.models.Ad"/>
        <mapping class="ru.job4j.car.models.Car"/>
        <mapping class="ru.job4j.car.models.Transmission"/>
        <mapping class="ru.job4j.car.models.Engine"/>
        <mapping class="ru.job4j.car.models.Color"/>
        <mapping class="ru.job4j.car.models.Car"/>
        <mapping class="ru.job4j.car.models.Body"/>
        <mapping class="ru.job4j.car.models.Brand"/>
    </session-factory>
</hibernate-configuration>