<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>ToDoList</servlet-name>
        <servlet-class>ru.job4j.servlets.GeneralServelet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToDoList</servlet-name>
        <url-pattern>/general</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ToDoListUpdate</servlet-name>
        <servlet-class>ru.job4j.servlets.UpdateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
    <servlet-name>ToDoListUpdate</servlet-name>
    <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>ru.job4j.listner.ContextListner</listener-class>
    </listener>
</web-app>